<?xml version="1.0" ?>
<model>
    <name>pista_pro</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
    <name>Lucas Schneider</name>
    <email>lucas.schneider@thunderatz.org</email>
  </author>

  <description>
    Pista da competição de seguidores de linha de PMR3100 - Introdução a engenharia mecatrônica
  </description>
</model>
