<?xml version="1.0"?>

<model>
  <name>pista</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Felipe Gomes de Melo</name>
    <email>felipe.gomes@thunderatz.org</email>
  </author>

  <description>
    Pista da competição de seguidores de linha de PMR3100 - Introdução a engenharia mecatrônica
  </description>
</model>
