<?xml version="1.0" encoding="utf-8"?>

<robot name="modelo_carrinho"
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Global argument used in .gazebo file to set sensor visual properties -->
  <xacro:arg name="debug_sensors"
    default="false" />
  <xacro:arg name="robot_name"
    default="modelo_carrinh" />

  <!-- Import all Gazebo plugins -->
  <xacro:include filename="$(find modelo_carrinho)/urdf/modelo_carrinho.gazebo" />

  <!-- Code exported from SolidWorks -->
  <xacro:include filename="$(find modelo_carrinho)/urdf/modelo_carrinho.urdf" />

  <!-- Definition of motor -->
  <xacro:include filename="$(find modelo_carrinho)/urdf/motor.xacro"/>

  <xacro:include filename="$(find modelo_carrinho)/urdf/colors.xacro"/>

  <xacro:motor joint_name="rodaesquerda"
    gear_rate="1"/>
  <xacro:motor joint_name="rodadireita"
    gear_rate="1"/>

</robot>
